.card {
  width: 200px;
  background: #fff;
  border: 1px solid #f0f0f0;
  border-radius: 16px;
  position: relative;

  &Image {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
  }

  &Bottom {
    padding: 16px 22px 22px 22px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &Info {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &Title {
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;       // одна строка
    overflow: hidden;          // обрезка текста
    text-overflow: ellipsis;   // троеточие
  }

  &Price {
    font-family: var(--second-family), sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.45);
  }

  &Tag {
    position: absolute;
    left: 12px;
    top: 140px;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    padding: 0 12px;
    background: #ffffff;
  }

  &NeedsRevision {
    display: flex;
    align-items: center;
    align-self: flex-start;
    font-size: 14px;
    line-height: 157%;
    padding: 2px 8px;
    color: #faad14;
    background: #f9f1e6;
    font-weight: 500;
    gap: 8px;
    border-radius: 8px;
    white-space: nowrap;

    .dot {
      width: 6px;
      height: 6px;
      background-color: #faad14;
      border-radius: 50%;
    }
  }
}