.page {
  padding: 24px;

  &Inner {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &Header {
    display: flex;
    justify-content: space-between;

    &Left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &Title {
        font-weight: 500;
        font-size: 30px;
        line-height: 1.33;
        max-width: 942px;
      }
    }

    &Right {
      display: flex;
      flex-direction: column;
      gap: 12px;
      align-items: flex-end;

      &Price {
        font-weight: 500;
        font-size: 30px;
        line-height: 133%;
      }

      &Dates {
        font-family: var(--second-family), sans-serif;
        text-align: right;
        color: #848388;
      }
    }
  }

  &Details {
    display: flex;
    gap: 32px;

    &Images {
      flex-shrink: 0;
      max-width: 480px;

      &Row {
        display: flex;
        gap: 8px;
        overflow-x: auto;
        padding-bottom: 8px;

        & > * {
          flex-shrink: 0;
        }

        &::-webkit-scrollbar {
          height: 6px;
        }

        &::-webkit-scrollbar-thumb {
          background: rgba(0, 0, 0, 0.2);
          border-radius: 3px;
        }
      }
    }

    &Info {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 36px;

      &Params {
        display: flex;
        flex-direction: column;
        gap: 16px;

        &Title {
          font-weight: 500;
          font-size: 22px;
          line-height: 127%;
        }

        &List {
          display: flex;
          flex-direction: column;
          gap: 6px;
        }

        &Row {
          padding: 0;
          display: flex;
          align-items: center;
          gap: 12px;
          font-family: var(--second-family), sans-serif;
        }

        &Key {
          font-weight: 600;
          color: rgba(0, 0, 0, 0.45);
          font-size: 16px;
          line-height: 140%;
          width: 148px;
        }

        &Value {
          line-height: 140%;
          color: #1e1e1e;
        }
      }

      &Panel {
        box-shadow:
          0 9px 28px 8px rgba(0, 0, 0, 0.05),
          0 6px 16px 0 rgba(0, 0, 0, 0.08),
          0 3px 6px -4px rgba(0, 0, 0, 0.12);
        background: #f9f1e6;
        border-radius: 8px;
        padding: 12px 16px;
        border: none;
        max-width: 512px;
      }
    }
  }

  &Description {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 480px;
    width: 100%;
    align-self: flex-start;

    &Title {
      font-weight: 500;
      font-size: 22px;
      line-height: 127%;
    }

    &Text {
      font-family: var(--second-family);
      line-height: 140%;
      color: #1e1e1e;
      overflow-wrap: break-word;
    }
  }
}
