.page {
  &Inner {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &Top {
    display: flex;
    flex-direction: column;
  }

  &Title {
    font-weight: 500;
    font-size: 22px;
    line-height: 127%;
  }

  &Subtitle {
    font-size: 18px;
    color: #848388;
  }


}
